<div class="col-xs-12">
    <section class="section about">
        <div class="container">
         <div class="section-header text-center">
          <h2 class="section-title">About Us</h2>
          <div class="line"><span></span></div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque libero, ipsa at, quaerat id ad enim, officiis animi maxime officia rem nostrum odio. Tenetur reprehenderit fugiat laborum quam, neque natus.</p>
         </div>
         <div class="row">
            <div class="col-md-6">
              <div class="about-info">
                <h3>Welcome to our <span>Camtravel</span> online ticket reservation website.</h3>
                  <p class="about-info-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia cumque nobis velit ratione pariatur accusamus rem, modi quos voluptate deleniti voluptatem. Ipsa tenetur sint adipisci, temporibus aut voluptatem minus! Libero expedita error consequuntur accusantium magni dolor hic earum minima autem numquam, sit eos velit, pariatur alias molestiae ipsa quisquam repellat odio in. Nesciunt consequuntur accusantium quaerat ipsum dolorum, a eligendi quae placeat? Velit dolores fugit officia possimus tenetur corporis aspernatur, porro repellendus obcaecati dicta.
                  </p>
                  <button class="btn btn-success fa fa-book">Learn More</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-img">
                <img src="../../assets/images/routes3.jpg" alt="route de voyage">
              </div>
            </div>
          </div>
        </div> 
    </section>  
    <section class="section services">
        <div class="container">
          <div class="section-header text-center">
            <h2 class="section-title">Our Services</h2>
            <div class="line"><span></span></div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque libero, ipsa at, quaerat id ad enim, officiis animi maxime officia rem nostrum odio. Tenetur reprehenderit fugiat laborum quam, neque natus.</p>
           </div>
           <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="serv">
                <i class="icon fa fa-car fa-3x"></i>
                <h3 class="serv-title">carpooling</h3>
                <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas ratione optio mollitia aut nihil maiores, 
                  suscipit iure rem error nobis? Amet repudiandae vel fuga quam minima, explicabo accusamus tempore.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="serv">
                  <i class="icon fa fa-ticket fa-3x"></i>
                  <h3 class="serv-title">Buy a transport ticket</h3>
                  <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas ratione optio mollitia aut nihil maiores, 
                    suscipit iure rem error nobis? Amet repudiandae vel fuga quam minima, explicabo accusamus tempore.</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="serv">
                  <i class="icon fa fa-bus fa-3x"></i>
                  <h3 class="serv-title">Choice of transport</h3>
                  <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas ratione optio mollitia aut nihil maiores, 
                    suscipit iure rem error nobis? Amet repudiandae vel fuga quam minima, explicabo accusamus tempore.</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="serv">
                    <i class="icon fa fa-calendar fa-3x"></i>
                  <h3 class="serv-title">Plan your trip</h3>
                  <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas ratione optio mollitia aut nihil maiores, 
                    suscipit iure rem error nobis? Amet repudiandae vel fuga quam minima, explicabo accusamus tempore.</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="serv">
                  <i class="icon fa fa-money fa-3x"></i>
                  <h3 class="serv-title">Means of payment</h3>
                  <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas ratione optio mollitia aut nihil maiores, 
                    suscipit iure rem error nobis? Amet repudiandae vel fuga quam minima, explicabo accusamus tempore.</p>
                </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="serv">
                  <i class="icon fa fa-comment fa-3x"></i>
                  <h3 class="serv-title">management of opinions and appreciation</h3>
                  <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas ratione optio mollitia aut nihil maiores, 
                    suscipit iure rem error nobis? Amet repudiandae vel fuga quam minima, explicabo accusamus tempore.</p>
                </div>
              </div>
           </div>
        </div>
    </section>
    <section class="section contact">
        <div class="container">
          <div class="section-header text-center">
            <h2 class="section-title">Contact Us</h2>
            <div class="line"><span></span></div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque libero, ipsa at, quaerat id ad enim, officiis animi maxime officia rem nostrum odio. Tenetur reprehenderit fugiat laborum quam, neque natus.</p>
           </div>
           <div class="col-md-12 col-xs-12">
            <div class="cont">
              <i class="icon fa fa-envelope fa-3x"></i>
              <i class="icon fa fa-phone fa-3x"></i>
              <h3 class="cont-title">management of opinions and appreciation</h3>
              <p class="cont-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quas ratione optio mollitia aut nihil maiores, 
                suscipit iure rem error nobis? Amet repudiandae vel fuga quam minima, explicabo accusamus tempore.</p>
            </div>
          </div>
        </div>
      </section>
      
</div>